[submodule "skillfetch"]
	path = skillfetch
	url = https://github.com/rezaiyan/skillfetch.git
[submodule "claude-token-guard"]
	path = claude-token-guard
	url = https://github.com/rezaiyan/claude-token-guard.git
[submodule "claude-notifier"]
	path = claude-notifier
	url = https://github.com/rezaiyan/claude-notifier.git
[submodule "claude-kit-v2"]
	path = claude-kit-v2
	url = https://github.com/rezaiyan/claude-kit-v2.git
